.main {
  width: 100%;
  min-height: 100vh;

  position: relative;

}

.humbger {
  display: none;

}

.humngermenu {
  display: none;

}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  padding: 0 150px;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
}

.navbar .logo {
  position: relative;
  display: flex;
  font-size: 30px;
  color: #fff;
  border-radius: 5px;
  padding: 2px 23px;
  /* border: 2px solid #fff; */
  font-weight: 800;

}

.navbar .navbar-list {
  list-style: none;
  display: flex;

}

.navbar .navbar-list li {
  display: flex;
  list-style: none;
  margin: 12px;

}

.navbar .navbar-list li a {
  display: block;
  color: #fff;
  font-weight: 600;
  transition: .4s;

}

.navbar .navbar-list li a:hover {
  letter-spacing: 2px;
  color: rgb(6, 255, 125);
}

.navbar .navbar-list li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin: auto;
  background-color: rgb(6, 255, 125);
  transition: .4s;

}

.navbar .navbar-list li a:hover::after {
  width: 100%;

}


.content {
  position: absolute;
  display: block;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 39px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.container-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;

}

.container-content .btn {
  position: absolute;
  display: flex;
  padding: 8px 75px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  overflow: hidden;
  bottom: -54px;
  border-radius: 4rem;
}

.container-content .btn::before {
  content: "";
  display: flex;
  position: absolute;
  width: 0%;
  margin: auto;
  height: 100%;
  z-index: -1;
  transition: .8s;
  background-color: rgb(6, 255, 125);

}

.container-content .btn:hover::before {
  width: 100%;
}

.github-container-stats {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column;
  height: 170vh auto;
  color: rgb(255, 255, 255);
  padding: 50px;
  transition: .4s;
}

.github-container-stats h2 {
  margin-bottom: 37px;
}

.github-container-stats p {
  margin-bottom: 37px;
}

.github-container-stats img {
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
  margin-bottom: 48px;

}

.github-container-stats .statsImg {
  width: 60%;
}

.github-container-stats .porjetWeb1 {
  width: 60%;
}

.github-container-stats .organisationImg {
  width: 60%;

}

.github-container-stats img:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 12px 12px #000;

}

.siderbar {
  width: 88%;
  height: 3.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(6, 255, 125, .8);
  margin-bottom: 23px;

}

.siderbar .siderbar-list {
  display: flex;
  list-style: none;

}

.siderbar .siderbar-list li {
  display: flex;
  list-style: none;
  margin: 13px;

}

.siderbar .siderbar-list li a {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 18px;
  font-weight: 600;

}

.siderbar .siderbar-list li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin: 0 auto;
  transition: .4s;
  background-color: rgb(255, 255, 255);

}

.siderbar .siderbar-list li a:hover::after {
  width: 100%;
}


#Discord {
  min-height: 100vh;
  background-color: rgb(18, 18, 18);

}

.discord-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  padding: 50px;
  transition: .4s;
}

.discord-container h2 {
  margin-bottom: 32px;

}

.discord-container .DiscordServeurImg {
  width: 20%;
  border-radius: 50rem;
  margin-bottom: 48px;

}

.discord-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  width: auto;
  height: auto;
  margin: 17px;
  padding: 30px;
  border-radius: 8px;
  background-color: rgb(68, 68, 68);

}

.discord-container .card .title {
  margin-top: 30px;
}

.discord-container .card .p {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: auto;
  text-align: center;
  justify-content: center;

}

.theme-discord {
  background-color: rgb(68, 68, 68);

}

@media screen and (max-width: 1160px) {

  .navbar .navbar-list {
    display: none;

  }
  .navbar .logo {
    position: absolute;
    left: 30px;
  }
  .github-container-stats .siderbar {
    width: 110%;
    align-items: center;

  }
  .humbger {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    right: 30px;
    z-index: 999;
    align-items: center;

    appearance: none;
    border: none;
    cursor: pointer;

  }
  .humbger .dir, .humbger::before, .humbger::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin: 6px;
    border-radius: 8px;
    background-color: #fff;
    transition: .4s;
  }
  .humbger.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  } .humbger.active::after {
    transform: rotate(45deg) translate(-9px, -8px);

  }
  .humbger.active .dir {
    transform: translateX(100px);
    opacity: 0;
  }
  .humngermenu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  rgb(68, 68, 68);
    font-size: 20px;
    transition: .4s;
  }
  .humngermenu ul {
    display: flex;
    list-style: none;
    flex-flow: column;
    
  } 
  .humngermenu ul li {
    display: flex;
    margin-bottom: 34px;

  }
  .humngermenu ul li a {
    font-size: 600;
    color: rgb(255, 255, 255);
  }
  .humngermenu.active {
    position: absolute;
    left: 0%;
  }
}

@media screen and (max-width: 560px) {

  

  .github-container-stats .siderbar {
    width: 120%;
    align-items: center;

  }

  .github-container-stats .siderbar .siderbar-list li {
    margin: 8px;
  }

  .github-container-stats .siderbar .siderbar-list li a {
    font-size: 12px;
  }

  .github-container-stats .statsImg {
    width: 120%;
  }

  .github-container-stats .porjetWeb1 {
    width: 120%;
  }

  .github-container-stats .organisationImg {
    width: 120%;

  }
 

}


































#pagesweb {
  display: none;
}

.back {
  position: absolute;
  display: block;
  background-size: cover;
  background-color: #121212;
  height: 200vh;
  width: 100%;
  z-index: 999;
}

.contenair_ldg {
  position: fixed;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-load {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.loading {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 8rem;
  background-color: rgb(0, 97, 255);
  animation: loading1 1s infinite linear both;
}

@keyframes loading1 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: scale(1.8);
  }

  100% {
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=main.css.map */